<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-lazy-init="false" default-autowire="no">

	<description>Quartz的定时集群任务配置</description>

	<!-- Quartz集群Schduler -->
	<bean id="quartzScheduler" class="lab.s2jh.schedule.ExtSchedulerFactoryBean"
		init-method="initialization">
		<!-- Triggers清单 -->
		<property name="triggers">
			<list>
				<bean id="pubPostServiceTrigger" class="lab.s2jh.schedule.InitializingCronTrigger">
					<property name="jobDetail">
						<bean
							class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
							<property name="targetObject" ref="pubPostServiceTimer" />
							<property name="targetMethod" value="cacheRefresh" />
							<property name="concurrent" value="true" /><!-- 作业并发调度控制 -->
						</bean>
					</property>
					<property name="cronExpression" value="*/5 * * * * ?" />
					<property name="triggerCfgService" ref="triggerCfgService" />
				</bean>
			</list>
		</property>
		<!-- quartz配置文件路径 -->
		<property name="configLocation" value="classpath:quartz-cluster.properties" />
		<!-- 启动时延期2秒开始任务 <property name="startupDelay" value="2" /> -->
		<!-- 保存Job数据到数据库所需的数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- Job接受applicationContext的成员变量名 -->
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<!-- 用数据库最新配置覆盖已有配置 -->
		<property name="overwriteExistingJobs" value="true" />
		<!-- 相关Service对象注入 -->
		<property name="triggerCfgService" ref="triggerCfgService" />
	</bean>
</beans>